{% extends 'base.html.twig' %}

{% block body %}
	{% if error %}
		<div class="alert alert-danger" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
	{% endif %}

	<form method="post">
		<label for="inputUsername" class="text-dark">Username</label>
		<input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>
		<label for="inputPassword" class="text-dark">Password</label>
		<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
		<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

		<button class="btn btn-success" type="submit">Se connecter</button>
	</form>
{% endblock %}
